{% extends 'RscineAppBundle::index.html.twig' %}

{% block body %}
{# <div ng-controller="LoginCtrl">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <form ng-submit="authenticate()">
            <md-input-container>
                <label>Login</label>
                <input ng-model="user.login" required>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input ng-model="user.password" type="password" required>
            </md-input-container>

            <md-button class="md-raised md-primary" type="submit">Log in</md-button>
        </form>
</md-content>
</div> #}



{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">login</button>
</form>





{% endblock %}
